#chat-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 0.7em 1em;
}

#chat-bottom-wrapper svg {
    width: 2.5em;
    height: 2.5em;
}

#chat-bottom-wrapper input {
    flex-grow: 1;
    margin: 0em 0.5em;
    border: none;
    background: #EDEDED;
    color: #6E6E6E;
    box-sizing: border-box;
    height: 100%;
    border-radius: 30px;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#chat-bottom-wrapper input:focus {
    outline: none;
}