#taxi-party-chat-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1.2em 0.6em 1.2em;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

#taxi-party-chat-nav svg {
    width: 2em;
    height: 2em;
}

#taxi-party-title-wrapper {
    display: flex;
    align-items: center;
}

#taxi-party-title-wrapper svg {
    width: 2.5em;
    height: 2.5em;
}

#taxi-party-title-contents {
    margin-left: 0.6em;
    text-align: justify;
}

#chat-taxi-community {
    color: #19D34D;
    font-weight: bold;
    font-size: 0.7em;
}

#chat-taxi-title {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0em 0em 0.3em 0em;
}

#chat-taxi-type .taxi-type {
    height: fit-content;
    font-size: 0.5em;
    font-weight: 500;
    width: fit-content;
}