#nav-bar-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    /* border-top: 1.5px solid #DEDEDE; */
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.10);
    padding: 0.9em 1em;
    height: 4em;
    width: 100%;
    background: white;
    box-sizing: border-box;
}

#nav-bar-wrapper a {
    flex: 1;
}

#nav-bar-wrapper a svg {
    height: 2em;
    width: auto;
}

#nav-bar-wrapper a svg:not(.nav-selected):hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(20%) saturate(216%) hue-rotate(65deg) brightness(92%) contrast(100%);
}