#taxi-party-detail-title {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.2em 0 0.5em 0;
}

.taxi-type-large .taxi-type-color {
    background: #A13A34;
}

.taxi-type-large {
    background: #FAE3DE;
}