#taxi-party-detail-infos {
    font-size: 0.7em;
    margin-top: 1.2em;
}

.taxi-party-detail-info {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 0.2em;;
}

.taxi-party-detail-info svg {
    margin-right: 0.7em;
    width: 2.5em;
    height: 2.5em;
}

.taxi-party-detail-info-title-wrapper {
    font-weight: bold;
}

.taxi-party-detail-info-titles {
    color: #416750;
    margin-right: 0.3em;
}
#taxi-party-detail-info-time-title {
    color: #EF6273;
    margin-right: 0.3em;
}

.taxi-party-detail-info-contents {
    margin-top: 0.3em;
}

#taxi-party-detail-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#taxi-party-detail-question-mark {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
}