#x-icon {
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

#modal-title {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.2em;
    color: #424242;
}

#modal-subtitle {
    text-align: center;
    font-size: 0.7em;
    color: #636363;
    margin-bottom: 0.5em;
}

.modal-contents {
    font-size: 0.8em;
    color: #424242;
}

.modal-contents-detail {
    font-size: 0.98em;
    color: #636363;
    margin-top: 0.2em;
}