.choose-taxi-type {
    display: flex;
    margin-bottom: 0.8em;
    font-size: 0.85em;
    color: #797979;
    align-items: center;
    margin-left: 0.3em;
}

.choose-taxi-type:last-child {
    margin-bottom: 1.2em;
}

.choose-tag {
    color: #666363;
    font-size: 0.8em;
    padding: 0.1em 0.6em 0.2em 0.6em;
    border-radius: 1em;
    margin-left: 0.7em;
    box-shadow: 0 0 0 1px #D9D9D9;
    cursor: pointer;
}
.choose-tag:hover {
    background: #73c58a;
    color: white;
    font-weight: 600;
}
.choose-tag:active {
    background: #1baa44;
    color: white;
    box-shadow: 0 0 0 1px #1baa44;
    font-weight: 600;
}
.choose-tag.selected {
    background: #4fc771;
    color: white;
    box-shadow: 0 0 0 1px #1baa44;
    font-weight: 600;
}