#create-taxi-party-form {
    width: calc(100% - 4em);
}

#create-taxi-party-form input:focus {
    outline: none;
    border-bottom: 1px solid #666363;
}

#create-taxi-party-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4em 0.2em;
    margin-bottom: 0.8em;
    color: #666363;
    font-size: 0.8em;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #B7B7B7;
}
#create-taxi-party-form input::placeholder {
    color: #B7B7B7;
    font-weight: bold;
}

/* select */
.select-taxi-detail-select {
    font-size: 0.8em;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    color: #666363;
    font-weight: 500;
    margin-bottom: 0.2em;
    text-align: justify;
    cursor: pointer !important;
}