.custom-single-wrapper {
    padding-top: 0.1em;
    grid-area: 1 / 1 / 2 / 3;
    font-weight: 600;
}

.custom-single-wrapper span {
    color: #797979;
    font-weight: 500;
}

.custom-options {
    padding: 0.3em 0.5em;
    cursor: pointer;
    font-weight: 500;
}
.custom-options:hover {
    background: #e9f2eb;
}

.options-address {
    font-size: 0.7em;;
    color: #797979;
    font-weight: 400;
    margin-top: 0.2em;
}